<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home List User</title>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #04AA6D;
      }
      .image {
        
        border-radius: 50px;
      }
      </style>
</head>
<body>
    <div class="nav-bar">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/get-crud">List User</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      
    </div>
    <div class="title">
      <h1>Alex Sander</h1>
    </div>
    <div class="image">
      <img width="250px" src="https://scontent.fhan19-1.fna.fbcdn.net/v/t39.30808-6/356378777_1053930298921778_8412841127185249423_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=yzW3rfDgBJ0AX9hjgiB&_nc_ht=scontent.fhan19-1.fna&oh=00_AfC8SufgkJ-4Z3BdI90bJ0Y4nxpw5_rEVFkiGxKIMpi08A&oe=65AC0BFF" alt="Alex">

    </div>
     
</body>
</html>